@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background: #1d44af;
  color: white;
  font-size: 30px;
  text-align: center;

  #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .main-title {
      font-size: 50px;
      margin-bottom: 20px;
    }
    .length-control {
      width: 225px;
    }
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        font-weight: bold;
        color: yellow;
      }
    }
    .btn-level,
    .length-control {
      color: white;
      display: inline-block;

      .btn-level > input {
        font-size: 25px;
        width: 50px;
        background-color: yellow;
      }
    }
    .timer {
      border: 5px solid #13353a;
      margin: 20px auto 10px auto;
      width: 270px;
      height: 170px;
      border-radius: 10px;
      position: relative;
      .timer-wrapper {
        position: absolute;
        width: 190px;
        height: 110px;
        left: 50%;
        top: 50%;
        margin-left: -95px;
        margin-top: -57px;
      }
      #time-left {
        font-family: "Roboto Slab", serif;
        font-size: 80px;
      }
      .timer-control button:active {
        color: #13353a;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #container {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  #length-control-div {
    display: flex;
    margin-bottom: 3em;
  }

  .btn-level > i {
    transform: scale(1.5);
    width: 2em;
  }
}

.button {
  color: white;
  width: 120px;
  font-size: 1.5em;
  margin: 0.5em;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
}

.digit {
  border: 2px solid #121212;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  font-size: 3em;
  font-family: monospace;
}
